target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
front/.idea

.DS_Store

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/swagger-bootstrap-ui-front/.idea/