<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="600000">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="LOG_HOME" value="target/app/log"/>
    <contextName>${HOSTNAME}</contextName>
    <springProperty scope="context" name="appName"
                    source="spring.application.name"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}||%highlight(level=%-5level)||%green(%logger:%L)|| %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <!-- 打印日志级别 -->
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <!-- 生产上不输出stdout log -->
    </root>

    <logger name="com.github.xiaoymin" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>